{% extends 'base.html' %}

{% block title %}Estudante: {{ student.name }}{% endblock %}

{% block content %}
    <div class="container">
        <h2>{{ student.name }}</h2>
        <p><strong>Idade:</strong> {{ student.age }}</p>
        <p><strong>Email:</strong> {{ student.email }}</p>
        <p><strong>Criado em:</strong> {{ student.created_at }}</p>
        <p><strong>Atualizado em:</strong> {{ student.updated_at }}</p>

        <a href="{% url 'coder:index' %}" class="btn btn-primary">Voltar</a>
    </div>
{% endblock %}
