{% extends 'base.html' %}

{% block title %}Estudantes{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="mt-4">Estudantes</h2>
        <a href="{% url 'coder:create' %}" class="btn btn-primary mb-3">Registrar Novo Estudante</a>
        <ul class="list-group">
            {% for student in students %}
                <li class="list-group-item">
                    <a href="{% url 'coder:detail' student.id %}">{{ student.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
