{% extends 'base.html' %}

{% block title %}Projetos{% endblock %}

{% block content %}
<div class="container">
    <h1>Projetos</h1>

    <a href="{% url 'projects:create' %}" class="btn btn-success">Novo Projeto</a>

    <form method="get">
        <label for="name">Pesquisa por Nome:</label>
        <input type="text" id="name" name="name" value="{{ request.GET.name }}">
        <button type="submit">Pesquisar</button>
    </form>
    
    {% if projects %}
        <p>Total de projetos: {{ projects.count }}</p>
        <ul>
            {% for project in projects %}
            <li><a href="{% url 'projects:detail' project.id %}">{{ project.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum projeto encontrado.</p>
    {% endif %}
</div>
{% endblock %}